:root {
    --black-whitewhite: rgba(255, 255, 255, 1);
    --graybase: rgba(150, 150, 150, 1);
    --graydark-40: rgba(75, 75, 75, 1);
    --graydark-80: rgba(38, 38, 38, 1);
    --secondarybase: rgba(28, 165, 234, 1);
    --reddark-10: rgba(189, 47, 44, 1);
    --yellowdark-10: rgba(188, 144, 27, 1);
    --greendark-10: rgba(23, 153, 39, 1);
    --graydark-10: rgba(113, 113, 113, 1);
    --greenbase: rgba(29, 184, 27, 1);
    --opacityblack-50: rgba(0, 0, 0, 0.5);
    --secondarylight-80: rgba(198, 233, 250, 1);
    --graylight-40: rgba(203, 203, 203, 1);
    --redbase: rgba(252, 63, 58, 1);
    --graylight-80: rgba(229, 229, 229, 1);
    --secondarylight-10: rgba(85, 188, 239, 1);
    --secondarylight-90: rgba(235, 248, 255, 1);
    --graylight-90: rgba(245, 245, 245, 1);
    --opacityblack-30: rgba(0, 0, 0, 0.3);
    --secondarydark-40: rgba(14, 83, 117, 1);
    --graylight-10: rgba(176, 176, 176, 1);
    --redlight-10: rgba(253, 111, 107, 1);
    --common-body-1-font-family: "Nunito", Helvetica;
    --common-body-1-font-weight: 400;
    --common-body-1-font-size: 20px;
    --common-body-1-letter-spacing: 0px;
    --common-body-1-line-height: 30px;
    --common-body-1-font-style: normal;
    --common-tiny-font-family: "Nunito", Helvetica;
    --common-tiny-font-weight: 400;
    --common-tiny-font-size: 12px;
    --common-tiny-letter-spacing: 0px;
    --common-tiny-line-height: 14px;
    --common-tiny-font-style: normal;
    --common-label-extra-bold-font-family: "Nunito", Helvetica;
    --common-label-extra-bold-font-weight: 800;
    --common-label-extra-bold-font-size: 16px;
    --common-label-extra-bold-letter-spacing: 0px;
    --common-label-extra-bold-line-height: 20px;
    --common-label-extra-bold-font-style: normal;
    --common-label-font-family: "Nunito", Helvetica;
    --common-label-font-weight: 600;
    --common-label-font-size: 16px;
    --common-label-letter-spacing: 0px;
    --common-label-line-height: 20px;
    --common-label-font-style: normal;
    --common-label-bold-font-family: "Nunito", Helvetica;
    --common-label-bold-font-weight: 700;
    --common-label-bold-font-size: 16px;
    --common-label-bold-letter-spacing: 0px;
    --common-label-bold-line-height: 20px;
    --common-label-bold-font-style: normal;
    --common-caption-font-family: "Nunito", Helvetica;
    --common-caption-font-weight: 400;
    --common-caption-font-size: 14px;
    --common-caption-letter-spacing: 0px;
    --common-caption-line-height: 16px;
    --common-caption-font-style: normal;
    --desktop-heading-4-font-family: "Nunito", Helvetica;
    --desktop-heading-4-font-weight: 700;
    --desktop-heading-4-font-size: 24px;
    --desktop-heading-4-letter-spacing: 0px;
    --desktop-heading-4-line-height: 24px;
    --desktop-heading-4-font-style: normal;
    --mobile-heading-4-font-family: "Nunito", Helvetica;
    --mobile-heading-4-font-weight: 700;
    --mobile-heading-4-font-size: 20px;
    --mobile-heading-4-letter-spacing: 0px;
    --mobile-heading-4-line-height: 20px;
    --mobile-heading-4-font-style: normal;
  }